<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- ✅ 이미지 저장을 위한 권한 추가 (Android 9 이하) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TOTApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TOT"
        tools:targetApi="31">

        <activity
            android:name=".Map.MapActivity"
            android:exported="true" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TOT.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- ✅ MainActivity에 windowSoftInputMode 추가 (키보드 문제 해결) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="tot"
                    android:host="invite" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Schedule.ScheduleSetting.ScheduleSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.FindAccountActivity"
            android:exported="false" />
        <activity
            android:name=".MyPage.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerAdapter"
            android:exported="false" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Community.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Community.PostCreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Follow.FollowActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Album.ScheduleAlbumActivity"
            android:exported="false" />

        <!-- API 키를 Gradle 변수에서 안전하게 주입 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="" /> <!-- 네이버 키값 넣는 곳 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_NATIVE_KEY}" />
        <meta-data
            android:name="com.kakao.sdk.LogEnabled"
            android:value="true" />
    </application>

</manifest>